# database
POSTGRES_DB=<db_name>
POSTGRES_DB_PORT=<db_port>
POSTGRES_USER=<db_user>
POSTGRES_PASSWORD=<db_password>
POSTGRES_HOST=<db_host>
# django settings
SECRET_KEY="-=b_=(fsa3a+8&16!r(tu2s2a8hc*7flttdmx=^e-$+#lsbzuo-"
DJANGO_ALLOWED_HOSTS="it-task-manager.onrender.com 127.0.0.1 localhost"
DJANGO_SETTINGS_MODULE=config.settings.dev